pipeline/cfg_file_metadata.json
{
	"name": "cfg_file_metadata",
	"properties": {
		"activities": [
			{
				"name": "Get File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "mbr_file_metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[cfg].[prc_file_metadata_output]",
					"storedProcedureParameters": {
						"JSON": {
							"value": {
								"value": "@activity('Get File Metadata').output",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ocean_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "00DEV"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-13T11:34:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}