pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Sharepoint Folder to Load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ocean_cfg",
						"type": "DatasetReference",
						"parameters": {
							"vTableName": "Sources1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Sharepoint Folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Sharepoint Folder to Load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Sharepoint Folder to Load').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get List of Files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "@{concat('Authorization:Bearer ',activity('Get token').output.access_token)}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sharepoint_ocean_project",
									"type": "DatasetReference",
									"parameters": {
										"pShrepointFolder": {
											"value": "@item().SharepointFolder",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "mbr_landing_zone",
									"type": "DatasetReference",
									"parameters": {
										"pMBR_Folder": {
											"value": "@item().MBR_Scope",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "df_shrp_listoffiles",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Get List of Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_shrp_listoffiles",
									"type": "DataFlowReference",
									"parameters": {
										"pMBR_Scope": {
											"value": "'@{item().MBR_Scope}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"getListofFiles": {
											"pMBR_Scope": {
												"value": "@item().MBR_Scope",
												"type": "Expression"
											}
										},
										"createJSONListofFiles": {
											"pMBR_Scope": {
												"value": "@item().MBR_Scope",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Get token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/168e48b2-81f0-4aac-bc77-d58d07d205e2/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=63bb52e3-0d92-4899-991c-bda347d9dd3b@168e48b2-81f0-4aac-bc77-d58d07d205e2&client_secret=S8v8Q~jvkg-AXO-gSxyxnJQTd9zhR1SiPr0ukcz5&resource=00000003-0000-0ff1-ce00-000000000000/keyrusgroup.sharepoint.com@168e48b2-81f0-4aac-bc77-d58d07d205e2"
				}
			}
		],
		"folder": {
			"name": "00DEV"
		},
		"annotations": []
	}
}