pipeline/pl_02_ingest_mbr_data_ods_sf.json
{
	"name": "pl_02_ingest_mbr_data_ods_sf",
	"properties": {
		"description": "Move all import tables from the source systems",
		"activities": [
			{
				"name": "Get MBR Parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_mbr_currency",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_copy_mbr_param",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select a.Prop_1 as MBR_Scope, b.Prop_1 as MBR_Month,  CONCAT('P&L FI_', bu_sequence ) AS SheetName, bu_sequence AS BU_Code, bu_name as BU_Name,\nCONCAT('R_P&L_FI_', a.Prop_1, '_',bu_sequence) AS RawTableName,  CONCAT('U_P&L_FI_', a.Prop_1, '_', bu_sequence) AS UnpvtTableName, currency_code as Currency_Code,\nCONCAT('R_KPI_Pyramid_', a.Prop_1) AS KPIPyramidTableName\nfrom ods.R_MBR_Currency_@{pipeline().parameters.pMBRScope},\n(select Prop_1 from ods.R_MBR_Parameters_@{pipeline().parameters.pMBRScope}\nwhere Prop_0 = 'MBR SCOPE') a,\n(select Prop_1 from ods.R_MBR_Parameters_@{pipeline().parameters.pMBRScope}\nwhere Prop_0 = 'MONTH') b\nwhere bu_select is not null",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ocean_ods",
						"type": "DatasetReference",
						"parameters": {
							"vTableName": {
								"value": "@concat('R_MBR_Currency_',pipeline().parameters.pMBRScope)",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Business Units sheets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MBR Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MBR Parameters').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy MBR Files to Snowflake",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_copy_all_mbr_snowflake",
									"type": "DataFlowReference",
									"parameters": {
										"pBU_Code": {
											"value": "'@{item().BU_Code}'",
											"type": "Expression"
										},
										"pRawTableName": {
											"value": "'@{toUpper(replace(item().RawTableName,'&',''))}'",
											"type": "Expression"
										},
										"pMBR_Scope": {
											"value": "'@{item().MBR_Scope}'",
											"type": "Expression"
										},
										"pMBR_Month": {
											"value": "'@{item().MBR_Month}'",
											"type": "Expression"
										},
										"pBU_Name": {
											"value": "'@{item().BU_Name}'",
											"type": "Expression"
										},
										"pCurrency_Code": {
											"value": "'@{item().Currency_Code}'",
											"type": "Expression"
										},
										"pFileName": {
											"value": "'@{pipeline().parameters.pFileName}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"getMBRData": {
											"vSheetName": {
												"value": "@item().SheetName",
												"type": "Expression"
											},
											"vFileName": {
												"value": "@pipeline().parameters.pFileName",
												"type": "Expression"
											},
											"vFolderName": {
												"value": "@pipeline().parameters.pFolderName",
												"type": "Expression"
											}
										},
										"insertRawMBRDataSnowf": {
											"pRawTableName": {
												"value": "@toUpper(replace(item().RawTableName,'&',''))",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Insert Sources Cfg Info",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy MBR Files to Snowflake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ocean_db",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "INSERT INTO [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]\n           ([MBR_FileName]\n           ,[MBR_Scope]\n           ,[MBR_Month]\n           ,[MBR_SheetName]\n           ,[MBR_BU_Code]\n           ,[MBR_BU_Name]\n           ,[MBR_RawTableName]\n           ,[MBR_UnpvtTableName]\n           ,[MBR_Currency_Code]\n           ,[MBR_KPIPyramid_TableName])\n     VALUES\n           ('@{pipeline().parameters.pFileName}'\n           ,'@{item().MBR_Scope}'\n           ,'@{item().MBR_Month}'\n           ,'@{item().SheetName}'\n           ,'@{item().BU_Code}'\n           ,'@{item().BU_Name}'\n           ,'@{item().RawTableName}'\n           ,'@{item().UnpvtTableName}'\n           ,'@{item().Currency_Code}'\n           ,'@{item().KPIPyramidTableName}')\n\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Get MBR_Month",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach Business Units sheets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT Prop_1 AS MBR_MONTH FROM Ocean_dev.ods.R_MBR_Parameters_@{pipeline().parameters.pMBRScope}\nWHERE Prop_0 = 'MONTH'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ocean_ods",
						"type": "DatasetReference",
						"parameters": {
							"vTableName": {
								"value": "@concat('R_MBR_Currency_',pipeline().parameters.pMBRScope)",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Insert KPI Pyramid",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MBR_Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MBR_Month').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy KPI Pyramid to Snowfale",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_copy_kpipyramid_snowflake",
									"type": "DataFlowReference",
									"parameters": {
										"pMBR_Month": {
											"value": "'@{item().MBR_MONTH}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"getKPIPyramidData": {
											"pFileName": {
												"value": "@pipeline().parameters.pFileName",
												"type": "Expression"
											},
											"pFolderName": {
												"value": "@pipeline().parameters.pFolderName",
												"type": "Expression"
											}
										},
										"insertKPIPyramidData": {
											"pRawTableName": {
												"value": "@toUpper(concat('R_KPI_Pyramid_',pipeline().parameters.pMBRScope))",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "df_copy_mbr_param",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_copy_mbr_param",
						"type": "DataFlowReference",
						"parameters": {
							"pFileName": {
								"value": "'@{pipeline().parameters.pFileName}'",
								"type": "Expression"
							},
							"pFolderName": {
								"value": "'@{pipeline().parameters.pFolderName}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"getMBRParam": {
								"pFileName": {
									"value": "@pipeline().parameters.pFileName",
									"type": "Expression"
								},
								"pFolderName": {
									"value": "@pipeline().parameters.pFolderName",
									"type": "Expression"
								}
							},
							"insertMBRParams": {
								"vTableName": {
									"value": "@concat('R_MBR_Parameters_',pipeline().parameters.pMBRScope)",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "df_mbr_currency",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_mbr_currency",
						"type": "DataFlowReference",
						"datasetParameters": {
							"getMBRCurr": {
								"pFileName": {
									"value": "@pipeline().parameters.pFileName",
									"type": "Expression"
								},
								"pFolderName": {
									"value": "@pipeline().parameters.pFolderName",
									"type": "Expression"
								}
							},
							"insertMBRCurr": {
								"vTableName": {
									"value": "@concat('R_MBR_Currency_',pipeline().parameters.pMBRScope)",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"pFileName": {
				"type": "string"
			},
			"pFolderName": {
				"type": "string"
			},
			"pMBRScope": {
				"type": "string"
			}
		},
		"variables": {
			"vplShetName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01ODS/Snowflake"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-20T10:35:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}