pipeline/pl_01_read_all_MBR_files.json
{
	"name": "pl_01_read_all_MBR_files",
	"properties": {
		"activities": [
			{
				"name": "Get MBR All Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_mbr_landing_folder",
						"type": "DatasetReference",
						"parameters": {
							"MBRScope": {
								"value": "@pipeline().parameters.MBRScope_Folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach MBR Files by Scope",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MBR All Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MBR All Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Ingest MBR Data",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_02_ingest_mbr_data_ods",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pFileName": {
										"value": "@item().name",
										"type": "Expression"
									},
									"pFolderName": {
										"value": "@pipeline().parameters.MBRScope_Folder",
										"type": "Expression"
									},
									"pMBRScope": {
										"value": "@pipeline().parameters.MBR_Scope",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Ingest MBR Data",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_mbr_archives",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"MBRScope_Folder": {
				"type": "string"
			},
			"MBR_Scope": {
				"type": "string"
			}
		},
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01ODS"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-20T08:54:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}