pipeline/pl_02_ingest_mbr_data_ods.json
{
	"name": "pl_02_ingest_mbr_data_ods",
	"properties": {
		"description": "Move all import tables from the source systems",
		"activities": [
			{
				"name": "Get MBR Parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_copy_mbr_param",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_mbr_currency",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select a.Prop_1 as MBR_Scope, b.Prop_1 as MBR_Month,  CONCAT('P&L FI_', bu_sequence ) AS SheetName, bu_sequence AS BU_Code, bu_name as BU_Name,\nCONCAT('R_P&L_FI_', a.Prop_1, '_',bu_sequence) AS RawTableName,  CONCAT('U_P&L_FI_', a.Prop_1, '_', bu_sequence) AS UnpvtTableName, currency_code as Currency_Code,\nCONCAT('R_KPI_Pyramid_', a.Prop_1) AS KPIPyramidTableName\nfrom ods.R_MBR_Currency_@{pipeline().parameters.pMBRScope},\n(select Prop_1 from ods.R_MBR_Parameters_@{pipeline().parameters.pMBRScope}\nwhere Prop_0 = 'MBR SCOPE') a,\n(select Prop_1 from ods.R_MBR_Parameters_@{pipeline().parameters.pMBRScope}\nwhere Prop_0 = 'MONTH') b\nwhere bu_select is not null",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ocean_ods",
						"type": "DatasetReference",
						"parameters": {
							"vTableName": {
								"value": "@concat('R_MBR_Currency_',pipeline().parameters.pMBRScope)",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Business Units sheets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MBR Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MBR Parameters').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy MBR Files to ODS",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_copy_all_mbr",
									"type": "DataFlowReference",
									"parameters": {
										"pBU_Code": {
											"value": "'@{item().BU_Code}'",
											"type": "Expression"
										},
										"pRawTableName": {
											"value": "'@{item().RawTableName}'",
											"type": "Expression"
										},
										"pMBR_Scope": {
											"value": "'@{item().MBR_Scope}'",
											"type": "Expression"
										},
										"pMBR_Month": {
											"value": "'@{item().MBR_Month}'",
											"type": "Expression"
										},
										"pBU_Name": {
											"value": "'@{item().BU_Name}'",
											"type": "Expression"
										},
										"pCurrency_Code": {
											"value": "'@{item().Currency_Code}'",
											"type": "Expression"
										},
										"pFileName": {
											"value": "'@{pipeline().parameters.pFileName}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"getMBRData": {
											"vSheetName": {
												"value": "@item().SheetName",
												"type": "Expression"
											},
											"vFileName": {
												"value": "@pipeline().parameters.pFileName",
												"type": "Expression"
											},
											"vFolderName": {
												"value": "@pipeline().parameters.pFolderName",
												"type": "Expression"
											}
										},
										"insertRawMBRData": {
											"pRawTableName": {
												"value": "@item().RawTableName",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine",
								"runConcurrently": true
							}
						}
					]
				}
			},
			{
				"name": "ForEach BU Raw ODS Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach Business Units sheets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MBR Parameters').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Unpivot MBR ODS Table",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_unpvt_mbr_data",
									"type": "DataFlowReference",
									"parameters": {
										"RawTableName": {
											"value": "'@{item().RawTableName}'",
											"type": "Expression"
										},
										"UnpivotTableName": {
											"value": "'@{item().UnpvtTableName}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"getMBRData": {
											"vTableName": {
												"value": "@item().RawTableName",
												"type": "Expression"
											}
										},
										"InsertUnpvtMBRData": {
											"UnpvtTableName": {
												"value": "@item().UnpvtTableName",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine",
								"runConcurrently": true
							}
						},
						{
							"name": "Insert Sources Cfg Info",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Update Fct Period",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ocean_db",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "INSERT INTO [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]\n           ([MBR_FileName]\n           ,[MBR_Scope]\n           ,[MBR_Month]\n           ,[MBR_SheetName]\n           ,[MBR_BU_Code]\n           ,[MBR_BU_Name]\n           ,[MBR_RawTableName]\n           ,[MBR_UnpvtTableName]\n           ,[MBR_Currency_Code]\n           ,[MBR_KPIPyramid_TableName])\n     VALUES\n           ('@{pipeline().parameters.pFileName}'\n           ,'@{item().MBR_Scope}'\n           ,'@{item().MBR_Month}'\n           ,'@{item().SheetName}'\n           ,'@{item().BU_Code}'\n           ,'@{item().BU_Name}'\n           ,'@{item().RawTableName}'\n           ,'@{item().UnpvtTableName}'\n           ,'@{item().Currency_Code}'\n           ,'@{item().KPIPyramidTableName}')\n\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Update Fct Period",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Unpivot MBR ODS Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ods].[prc_ods_update_periods]",
								"storedProcedureParameters": {
									"table_name": {
										"value": {
											"value": "@item().UnpvtTableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ocean_db",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Copy KPI Pyramid to ODS new",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get MBR Parameters",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "BU",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "Version",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "Period",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "CostCenter",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"name": "PeopleType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"name": "LevelSeniority",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"name": "EndOfMonth_FTE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"name": "SrvcSales_bef_bonimali",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"name": "BillableDays",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"name": "DailyRate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"name": "AnnualDirectCosts",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"name": "AnnualProductionDays",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"name": "DailyCost",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_mbr_kpi_pyramid_new",
						"type": "DatasetReference",
						"parameters": {
							"pFileName": {
								"value": "@pipeline().parameters.pFileName",
								"type": "Expression"
							},
							"pFolderName": {
								"value": "@pipeline().parameters.pFolderName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ocean_new",
						"type": "DatasetReference",
						"parameters": {
							"vTableName": {
								"value": "@concat('R_KPI_Pyramid_',pipeline().parameters.pMBRScope)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "df_copy_mbr_param",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_copy_mbr_param",
						"type": "DataFlowReference",
						"parameters": {
							"pFileName": {
								"value": "'@{pipeline().parameters.pFileName}'",
								"type": "Expression"
							},
							"pFolderName": {
								"value": "'@{pipeline().parameters.pFolderName}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"getMBRParam": {
								"pFileName": {
									"value": "@pipeline().parameters.pFileName",
									"type": "Expression"
								},
								"pFolderName": {
									"value": "@pipeline().parameters.pFolderName",
									"type": "Expression"
								}
							},
							"insertMBRParams": {
								"vTableName": {
									"value": "@concat('R_MBR_Parameters_',pipeline().parameters.pMBRScope)",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "df_mbr_currency",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_mbr_currency",
						"type": "DataFlowReference",
						"datasetParameters": {
							"getMBRCurr": {
								"pFileName": {
									"value": "@pipeline().parameters.pFileName",
									"type": "Expression"
								},
								"pFolderName": {
									"value": "@pipeline().parameters.pFolderName",
									"type": "Expression"
								}
							},
							"insertMBRCurr": {
								"vTableName": {
									"value": "@concat('R_MBR_Currency_',pipeline().parameters.pMBRScope)",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"pFileName": {
				"type": "string"
			},
			"pFolderName": {
				"type": "string"
			},
			"pMBRScope": {
				"type": "string"
			}
		},
		"variables": {
			"vplShetName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01ODS"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-20T10:35:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}