pipeline/pl_00_start_process.json
{
	"name": "pl_00_start_process",
	"properties": {
		"activities": [
			{
				"name": "Get All Active MBR Scope",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Initialization",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [MBR_Scope] as MBRScope,\n    'toload/' + [MBR_Scope]  as MBRScope_Folder\n  FROM [cfg].[Sources]\nWHERE [Active_fl] = 'Y'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ocean_cfg",
						"type": "DatasetReference",
						"parameters": {
							"vTableName": "Sources"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Active MBR Scope",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Active MBR Scope",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Active MBR Scope').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Run Process by MBR Scope",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_01_read_all_MBR_files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MBRScope_Folder": {
										"value": "@item().MBRScope_Folder",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Load Staging Tables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Active MBR Scope",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_03_load_stg_financials",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Load Fact Tables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_04_load_fact_financials",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Initialization",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_01_initialization",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-02-17T13:38:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}