pipeline/pl_02_load_fact_kpipyramid.json
{
	"name": "pl_02_load_fact_kpipyramid",
	"properties": {
		"activities": [
			{
				"name": "Get All Staging Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select  distinct concat('KPI_Pyramid_', MBR_Scope) AS StgKpiTableName  from  [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ocean_ods",
						"type": "DatasetReference",
						"parameters": {
							"vTableName": {
								"value": "@pipeline().globalParameters.gSourcesConfigTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Staging Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Staging Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Staging Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Load Fact KPI Pyramid",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_Load_Fact_KPI_Pyramid",
									"type": "DataFlowReference",
									"datasetParameters": {
										"getMBRKPIPyramidStaging": {
											"vTableName": {
												"value": "@item().StgKpiTableName",
												"type": "Expression"
											}
										},
										"getDimScenario": {
											"vTableName": {
												"value": "@pipeline().globalParameters.gDimScenarioTableName",
												"type": "Expression"
											}
										},
										"getDimOrganisation": {
											"vTableName": {
												"value": "@pipeline().globalParameters.gDimOrganisationTableName",
												"type": "Expression"
											}
										},
										"getFactKpi": {
											"vTableName": {
												"value": "@pipeline().globalParameters.gFactKpiPyramid",
												"type": "Expression"
											}
										},
										"insertFactKPIPyramid": {
											"vTableName": {
												"value": "@pipeline().globalParameters.gFactKpiPyramid",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "03DWH"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-17T16:37:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}