adf-ocean-dev/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ocean-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/mbr_index')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dimensions_source",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "P&L FI_BU01",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "MBR Reporting_2023_v22 - 02 BUs (Example).xlsx",
						"container": "mbr-landing-zone"
					},
					"range": "A10:E504",
					"firstRowAsHeader": false
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mbr_kpi_pyramide')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dimensions_source",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "KPI Pyramid",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "MBR Reporting_2023_v22 - 02 BUs (Example).xlsx",
						"container": "mbr-landing-zone"
					},
					"range": "B78:N846",
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "BU",
						"type": "String"
					},
					{
						"name": "Version",
						"type": "String"
					},
					{
						"name": "Period",
						"type": "String"
					},
					{
						"name": "Cost center",
						"type": "String"
					},
					{
						"name": "People type",
						"type": "String"
					},
					{
						"name": "Level of seniority",
						"type": "String"
					},
					{
						"name": "End of month FTE",
						"type": "String"
					},
					{
						"name": "Service sales before boni / mali",
						"type": "String"
					},
					{
						"name": "Billable days",
						"type": "String"
					},
					{
						"name": "Daily rate",
						"type": "String"
					},
					{
						"name": "Annual direct costs",
						"type": "String"
					},
					{
						"name": "Annual production days",
						"type": "String"
					},
					{
						"name": "Daily cost",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mbr_landing_zone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_files_to_load",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pMBR_Folder": {
						"type": "string"
					}
				},
				"folder": {
					"name": "01ODS"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "ListFiles_@{dataset().pMBR_Folder}.xml",
							"type": "Expression"
						},
						"folderPath": "toloadSharepoint/01ListFilesFromSharepoint",
						"container": "mbr-landing-zone"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mbr_licence_maintenance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dimensions_source",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "License & Maintenance",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "MBR Reporting_2023_v22 - 02 BUs (Example).xlsx",
						"container": "mbr-landing-zone"
					},
					"range": "b126:AF800",
					"firstRowAsHeader": false
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mbr_nature')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dimensions_source",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "P&L FI_BU01",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "MBR Reporting_2023_v22 - 02 BUs (Example).xlsx",
						"container": "mbr-landing-zone"
					},
					"range": "EU9:EX504",
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mbr_p_actual')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ocean_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Index",
						"type": "nvarchar"
					},
					{
						"name": "Anaplant_Index",
						"type": "nvarchar"
					},
					{
						"name": "PBI_Index",
						"type": "nvarchar"
					},
					{
						"name": "Column4",
						"type": "nvarchar"
					},
					{
						"name": "KCAD",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_01",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_02",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_03",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_04",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_05",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_06",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_07",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_08",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_09",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_10",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_11",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_12",
						"type": "nvarchar"
					},
					{
						"name": "Actual_LY_FY",
						"type": "nvarchar"
					},
					{
						"name": "Column19",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_01",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_02",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_03",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_04",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_05",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_06",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_07",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_08",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_09",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_10",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_11",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_12",
						"type": "nvarchar"
					},
					{
						"name": "Budget_CY_FY",
						"type": "nvarchar"
					},
					{
						"name": "Column33",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_01",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_02",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_03",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_04",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_05",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_06",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_07",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_08",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_09",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_10",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_11",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_12",
						"type": "nvarchar"
					},
					{
						"name": "Working_FCT_CY_FY",
						"type": "nvarchar"
					},
					{
						"name": "Working_FCT_NY_01",
						"type": "nvarchar"
					},
					{
						"name": "Working_FCT_NY_02",
						"type": "nvarchar"
					},
					{
						"name": "Working_FCT_NY_03",
						"type": "nvarchar"
					},
					{
						"name": "Column50",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_01_01",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_02_02",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_03_03",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_04_04",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_05_05",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_06_06",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_07_07",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_08_08",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_09_09",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_10_10",
						"type": "nvarchar"
					},
					{
						"name": "Actual_CY_11_11",
						"type": "nvarchar"
					},
					{
						"name": "M1_FCT_CY_12",
						"type": "nvarchar"
					},
					{
						"name": "M1_FCT_CY_FY",
						"type": "nvarchar"
					},
					{
						"name": "M1_FCT_NY_01",
						"type": "nvarchar"
					},
					{
						"name": "M1_FCT_NY_02",
						"type": "nvarchar"
					},
					{
						"name": "M1_FCT_NY_03",
						"type": "nvarchar"
					},
					{
						"name": "Column67",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_01",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_02",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_03",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_04",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_05",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_06",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_07",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_08",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_09",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_10",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_11",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_12",
						"type": "nvarchar"
					},
					{
						"name": "Column80",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_01",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_02",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_03",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_04",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_05",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_06",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_07",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_08",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_09",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_10",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_11",
						"type": "nvarchar"
					},
					{
						"name": "Budget_YTD_12",
						"type": "nvarchar"
					},
					{
						"name": "Column93",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_01_01",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_02_02",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_03_03",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_04_04",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_05_05",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_06_06",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_07_07",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_08_08",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_09_09",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_10_10",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_11_11",
						"type": "nvarchar"
					},
					{
						"name": "Actual_YTD_12_12",
						"type": "nvarchar"
					},
					{
						"name": "Column106",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_01",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_02",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_03",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_04",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_05",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_06",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_07",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_08",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_09",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_10",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_11",
						"type": "nvarchar"
					},
					{
						"name": "M1_YTD_12",
						"type": "nvarchar"
					},
					{
						"name": "Column119",
						"type": "nvarchar"
					},
					{
						"name": "Comments",
						"type": "nvarchar"
					},
					{
						"name": "Column121",
						"type": "nvarchar"
					},
					{
						"name": "Column122",
						"type": "nvarchar"
					},
					{
						"name": "Column123",
						"type": "nvarchar"
					},
					{
						"name": "Column124",
						"type": "nvarchar"
					},
					{
						"name": "Column125",
						"type": "nvarchar"
					},
					{
						"name": "Column126",
						"type": "nvarchar"
					},
					{
						"name": "Column127",
						"type": "nvarchar"
					},
					{
						"name": "Column128",
						"type": "nvarchar"
					},
					{
						"name": "Column129",
						"type": "nvarchar"
					},
					{
						"name": "Column130",
						"type": "nvarchar"
					},
					{
						"name": "Column131",
						"type": "nvarchar"
					},
					{
						"name": "Column132",
						"type": "nvarchar"
					},
					{
						"name": "Column133",
						"type": "nvarchar"
					},
					{
						"name": "Column134",
						"type": "nvarchar"
					},
					{
						"name": "Column135",
						"type": "nvarchar"
					},
					{
						"name": "Column136",
						"type": "nvarchar"
					},
					{
						"name": "Column137",
						"type": "nvarchar"
					},
					{
						"name": "Column138",
						"type": "nvarchar"
					},
					{
						"name": "Column139",
						"type": "nvarchar"
					},
					{
						"name": "Column140",
						"type": "nvarchar"
					},
					{
						"name": "Column141",
						"type": "nvarchar"
					},
					{
						"name": "Column142",
						"type": "nvarchar"
					},
					{
						"name": "Column143",
						"type": "nvarchar"
					},
					{
						"name": "Column144",
						"type": "nvarchar"
					},
					{
						"name": "Column145",
						"type": "nvarchar"
					},
					{
						"name": "Column146",
						"type": "nvarchar"
					},
					{
						"name": "Column147",
						"type": "nvarchar"
					},
					{
						"name": "Column148",
						"type": "nvarchar"
					},
					{
						"name": "Column149",
						"type": "nvarchar"
					},
					{
						"name": "Column150",
						"type": "nvarchar"
					},
					{
						"name": "CC_Name",
						"type": "nvarchar"
					},
					{
						"name": "CC_Code",
						"type": "nvarchar"
					},
					{
						"name": "Nature_Name",
						"type": "nvarchar"
					},
					{
						"name": "Nature_Code",
						"type": "nvarchar"
					},
					{
						"name": "Column155",
						"type": "nvarchar"
					},
					{
						"name": "Column156",
						"type": "nvarchar"
					},
					{
						"name": "Column157",
						"type": "nvarchar"
					},
					{
						"name": "Column158",
						"type": "nvarchar"
					},
					{
						"name": "Column159",
						"type": "nvarchar"
					},
					{
						"name": "Column160",
						"type": "nvarchar"
					},
					{
						"name": "Column161",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "R_PNL_FI_TEST"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mbr_pnl_fi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dimensions_source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"vSheetName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().vSheetName",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "MBR Reporting_2023_v22 - 02 BUs (Example).xlsx",
						"container": "mbr-landing-zone"
					},
					"range": "A10:EX504"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mbr_u_actual')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ocean_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "nature_code",
						"type": "varchar"
					},
					{
						"name": "nature_name",
						"type": "varchar"
					},
					{
						"name": "cost_center_code",
						"type": "varchar"
					},
					{
						"name": "cost_center_name",
						"type": "varchar"
					},
					{
						"name": "reference_date",
						"type": "varchar"
					},
					{
						"name": "cost_amount",
						"type": "varchar"
					},
					{
						"name": "mbr_scope_bu",
						"type": "varchar"
					},
					{
						"name": "file_month",
						"type": "varchar"
					},
					{
						"name": "currency_code",
						"type": "varchar"
					},
					{
						"name": "bu_name",
						"type": "varchar"
					},
					{
						"name": "upload_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "U_MBR_Actual"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_financials')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ocean_db_nonencrypted",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"stgFinancialTable": {
						"type": "string"
					}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BusinessUnit",
						"type": "nvarchar"
					},
					{
						"name": "Scenario",
						"type": "nvarchar"
					},
					{
						"name": "NatureID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Nature",
						"type": "nvarchar"
					},
					{
						"name": "MonthYear",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "Value",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": {
						"value": "@dataset().stgFinancialTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_kpi_pyramid')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ocean_db_nonencrypted",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pKpiPyramidTableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "02STG"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "stg",
					"table": {
						"value": "@dataset().pKpiPyramidTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cfg_file_metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "mbr_file_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get File Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[cfg].[prc_file_metadata_output]",
							"storedProcedureParameters": {
								"JSON": {
									"value": {
										"value": "@activity('Get File Metadata').output",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ocean_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-13T11:34:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_mbr_ic_declaration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stg_mbr_ic_declaration",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.R_MBR_Licence_maintenance",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "BU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "Version",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "Software partners",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "License - Perpetual",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "License - New subscription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "Maintenance - 1st year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "License - Renewed subscription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "Maintenance - Renewal",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "License - Referrals",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "Total Revenue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "License purchases - Perpetual",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "License purchases - New subscription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "Maintenance purchases - 1st year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "License purchases - Renewed subscription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "Maintenance purchases - Renewal",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "Total cost",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "Licenses - Perpetual - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "Licenses - New Subscription - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "Maintenance - 1st year - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "Licenses - Renewed subscription - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "Maintenance - Renewal - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "Licenses - Referrals - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 24
										},
										"sink": {
											"name": "Total Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "Licenses - Perpetual - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 26
										},
										"sink": {
											"name": "Licenses - New Subscription - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "Maintenance - 1st year - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 28
										},
										"sink": {
											"name": "Licenses - Renewed subscription - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 29
										},
										"sink": {
											"name": "Maintenance - Renewal - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 30
										},
										"sink": {
											"name": "Licenses - Referrals - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 31
										},
										"sink": {
											"name": "Total Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "mbr_licence_maintenance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_stg",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": "R_MBR_licence_maintenance"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-13T13:29:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/mbr_licence_maintenance')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_mbr_index')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ods_mbr_index",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "idx",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "anaplan_idx",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "pbi_idx",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "k_cad",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "mbr_index",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": "R_MBR_Index"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-13T10:38:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/mbr_index')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_mbr_kpi_pyramid')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stg_mbr_kpi_pyramid",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.R_MBR_kpi_pyramid",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Version",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Version",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Period",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cost center",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cost center",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "People type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "People type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Level of seniority",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Level of seniority",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "End of month FTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "End of month FTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Service sales before boni / mali",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Service sales before boni / mali",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Billable days",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Billable days",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Daily rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Daily rate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Annual direct costs",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Annual direct costs",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Annual production days",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Annual production days",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Daily cost",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Daily cost",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "mbr_kpi_pyramide",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_stg",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": "R_MBR_kpi_pyramid"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-13T13:29:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/mbr_kpi_pyramide')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_mbr_licence_maintenance')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stg_mbr_licence_maintenance",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "BU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "Version",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "Period",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "Software partners",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "License - Perpetual",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "License - New subscription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "Maintenance - 1st year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "License - Renewed subscription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "Maintenance - Renewal",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "License - Referrals",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "Total Revenue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "License purchases - Perpetual",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "License purchases - New subscription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "Maintenance purchases - 1st year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "License purchases - Renewed subscription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "Maintenance purchases - Renewal",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "Total cost",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "Licenses - Perpetual - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "Licenses - New Subscription - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "Maintenance - 1st year - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "Licenses - Renewed subscription - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "Maintenance - Renewal - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "Licenses - Referrals - Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 24
										},
										"sink": {
											"name": "Total Margin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "Licenses - Perpetual - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 26
										},
										"sink": {
											"name": "Licenses - New Subscription - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "Maintenance - 1st year - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 28
										},
										"sink": {
											"name": "Licenses - Renewed subscription - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 29
										},
										"sink": {
											"name": "Maintenance - Renewal - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 30
										},
										"sink": {
											"name": "Licenses - Referrals - Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 31
										},
										"sink": {
											"name": "Total Margin %",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "mbr_licence_maintenance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_stg",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": "R_MBR_licence_maintenance"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-13T13:29:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/mbr_licence_maintenance')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_mbr_nature')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ods_mbr_nature",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "mbr_nature",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": "R_MBR_Nature"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-13T10:38:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/mbr_nature')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ods_mbr_scope_dynamic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Range Cells",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Range",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Load to Azure SQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE ods.[@{item().SheetName}]",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "mbr_dynamic_source",
											"type": "DatasetReference",
											"parameters": {
												"vRange": {
													"value": "@item().Range",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_ocean_dwh",
											"type": "DatasetReference",
											"parameters": {
												"vTableName": {
													"value": "@item().SheetName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Range": {
						"type": "array",
						"defaultValue": [
							{
								"Range": "CP8:DA503"
							}
						]
					}
				},
				"folder": {
					"name": "00DEV"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-13T13:29:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_02_copy_files_to_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get List of Files by Scope",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_sharepoint_json",
								"type": "DatasetReference",
								"parameters": {
									"pMBR_Scope": {
										"value": "@pipeline().parameters.pMBR_Scope",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Each MBR File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get List of Files by Scope",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get List of Files by Scope').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Files to Toload folder",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization:Bearer ',activity('Get token').output.access_token)}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_sharepoint_ocean_project_copy1",
											"type": "DatasetReference",
											"parameters": {
												"pServerRelativeUrl": {
													"value": "@item().GetFileUrl",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_mbr_files_bin",
											"type": "DatasetReference",
											"parameters": {
												"pMBR_Scope": {
													"value": "@pipeline().parameters.pMBR_Scope",
													"type": "Expression"
												},
												"pFileName": {
													"value": "@item().Name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://accounts.accesscontrol.windows.net/168e48b2-81f0-4aac-bc77-d58d07d205e2/tokens/OAuth/2",
							"connectVia": {
								"referenceName": "integrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=63bb52e3-0d92-4899-991c-bda347d9dd3b@168e48b2-81f0-4aac-bc77-d58d07d205e2&client_secret=S8v8Q~jvkg-AXO-gSxyxnJQTd9zhR1SiPr0ukcz5&resource=00000003-0000-0ff1-ce00-000000000000/keyrusgroup.sharepoint.com@168e48b2-81f0-4aac-bc77-d58d07d205e2"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pMBR_Scope": {
						"type": "string"
					}
				},
				"folder": {
					"name": "00INIT"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_03_summary_log')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Log Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select [MBR_FileName] as MBRFileName, [MBR_Scope] as MBRScope,[MBR_Month] as MBRMonth\n  ,[MBR_Currency_Code] as MBRCurrCode ,[MBR_BU_Code] as MBRBUCode ,[MBR_BU_Name] as MBRBUName ,[MBR_SheetName] as MBRSheetName from  [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MBRFileName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MBR_FileName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MBRScope",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MBR_Scope",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MBRMonth",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MBR_Month",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MBRCurrCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MBR_Currency_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MBRBUCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MBR_BU_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MBRBUName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MBR_BU_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MBRSheetName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MBR_SheetName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ocean_stg",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesConfigTableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_stg",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": "SummaryLoad"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "03DWH"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_04_archive_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get All Files",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select distinct concat('toload/',MBR_Scope) as SourcePathFolder,\nconcat('archives/',MBR_Scope) as DestiPathFolder, MBR_FileName as FileName , concat(format( GETDATE(),'yyyyMMdd_HHmmss_'),MBR_FileName) as DestiFileName\nfrom  [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesConfigTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach MBR Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get All Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get All Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Move File to Archives",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_mbr_excel_files",
											"type": "DatasetReference",
											"parameters": {
												"pFolder": {
													"value": "@item().SourcePathFolder",
													"type": "Expression"
												},
												"pFileName": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_mbr_excel_files",
											"type": "DatasetReference",
											"parameters": {
												"pFolder": {
													"value": "@item().DestiPathFolder",
													"type": "Expression"
												},
												"pFileName": {
													"value": "@item().DestiFileName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "03DWH"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}