adf-ocean-dev/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ocean-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_Load_Fact_KPI_Pyramid')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "03DWH"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ocean_stg",
								"type": "DatasetReference"
							},
							"name": "getMBRKPIPyramidStaging"
						},
						{
							"dataset": {
								"referenceName": "ds_ocean_dwh",
								"type": "DatasetReference"
							},
							"name": "getDimScenario"
						},
						{
							"dataset": {
								"referenceName": "ds_ocean_dwh",
								"type": "DatasetReference"
							},
							"name": "getDimOrganisation"
						},
						{
							"dataset": {
								"referenceName": "ds_ocean_dwh",
								"type": "DatasetReference"
							},
							"name": "getFactKpi"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_ocean_dwh",
								"type": "DatasetReference"
							},
							"name": "insertFactKPIPyramid"
						}
					],
					"transformations": [
						{
							"name": "addYearMonthID"
						},
						{
							"name": "joinDimScenario"
						},
						{
							"name": "joinDimOrganisation"
						},
						{
							"name": "cleanColumns"
						},
						{
							"name": "joinFactKPI"
						},
						{
							"name": "insertOrUpdate"
						},
						{
							"name": "includeUpsert"
						},
						{
							"name": "insertUpdate"
						}
					],
					"scriptLines": [
						"source(output(",
						"          BU as string,",
						"          Version as string,",
						"          Period as date,",
						"          CostCenter as string,",
						"          PeopleType as string,",
						"          LevelSeniority as string,",
						"          EndOfMonth_FTE as float,",
						"          SrvcSales_bef_bonimali as float,",
						"          BillableDays as float,",
						"          DailyRate as float,",
						"          AnnualDirectCosts as float,",
						"          AnnualProductionDays as float,",
						"          DailyCost as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> getMBRKPIPyramidStaging",
						"source(output(",
						"          Scenario_Name0 as string,",
						"          Scenario_Code0 as string,",
						"          Comment as string,",
						"          Scenario_Index as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> getDimScenario",
						"source(output(",
						"          {Business Unit} as string,",
						"          {MBR Scope} as string,",
						"          Area as string,",
						"          Zone as string,",
						"          {Keyrus Group} as string,",
						"          Total as string,",
						"          {MBR Scope_1} as string,",
						"          Management_hierarchy_1 as string,",
						"          Management_hierarchy_2 as string,",
						"          Management_hierarchy_3 as string,",
						"          Management_hierarchy_4 as string,",
						"          Currency_Name0 as string,",
						"          Currency_Code0 as string,",
						"          BusinessLine_Name as string,",
						"          Country_Name as string,",
						"          {Financial manager} as string,",
						"          {Managing Director} as string,",
						"          {MBR file user(s)} as string,",
						"          OrganisationID as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> getDimOrganisation",
						"source(output(",
						"          FactKpiID as long,",
						"          OrganisationID as long,",
						"          ScenarioID as long,",
						"          MonthYearID as integer,",
						"          MonthYear as date,",
						"          CostCenter as string,",
						"          PeopleType as string,",
						"          LevelSeniority as string,",
						"          EndOfMonth_FTE as float,",
						"          SrvcSales_bef_bonimali as float,",
						"          BillableDays as float,",
						"          DailyRate as float,",
						"          AnnualDirectCosts as float,",
						"          AnnualProductionDays as float,",
						"          DailyCost as float,",
						"          CreatedOn as timestamp,",
						"          CreatedBy as string,",
						"          ModifiedOn as timestamp,",
						"          ModifiedBy as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> getFactKpi",
						"getMBRKPIPyramidStaging derive(MonthYearID = toInteger(concat(toString(year(Period)), lpad(toString(month(Period)),2,'0'), '01'))) ~> addYearMonthID",
						"addYearMonthID, getDimScenario join(lower(trim(Version)) == lower(trim(Scenario_Name0)),",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDimScenario",
						"joinDimScenario, getDimOrganisation join(lower(trim(BU)) == lower(trim({Business Unit})),",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDimOrganisation",
						"joinDimOrganisation select(mapColumn(",
						"          OrganisationID,",
						"          ScenarioID = Scenario_Index,",
						"          MonthYearID,",
						"          MonthYear = Period,",
						"          CostCenter,",
						"          PeopleType,",
						"          LevelSeniority,",
						"          EndOfMonth_FTE,",
						"          SrvcSales_bef_bonimali,",
						"          BillableDays,",
						"          DailyRate,",
						"          AnnualDirectCosts,",
						"          AnnualProductionDays,",
						"          DailyCost",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> cleanColumns",
						"cleanColumns, getFactKpi join(cleanColumns@OrganisationID == getFactKpi@OrganisationID",
						"     && cleanColumns@ScenarioID == getFactKpi@ScenarioID",
						"     && cleanColumns@MonthYearID == getFactKpi@MonthYearID",
						"     && cleanColumns@CostCenter == getFactKpi@CostCenter",
						"     && cleanColumns@PeopleType == getFactKpi@PeopleType",
						"     && cleanColumns@LevelSeniority == getFactKpi@LevelSeniority,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinFactKPI",
						"joinFactKPI derive(InsertOrUpdate = iif(isNull(getFactKpi@OrganisationID) && isNull(getFactKpi@ScenarioID) && isNull(getFactKpi@MonthYearID) && isNull(getFactKpi@CostCenter)  && isNull(getFactKpi@PeopleType) \r",
						" && isNull(getFactKpi@LevelSeniority) \r",
						", 'I',\r",
						"iif(equals(cleanColumns@EndOfMonth_FTE,getFactKpi@EndOfMonth_FTE) && equals(cleanColumns@SrvcSales_bef_bonimali,getFactKpi@SrvcSales_bef_bonimali) && \r",
						" equals(cleanColumns@BillableDays,getFactKpi@BillableDays) && equals(cleanColumns@DailyRate,getFactKpi@DailyRate) &&\r",
						" equals(cleanColumns@AnnualDirectCosts,getFactKpi@AnnualDirectCosts) &&  equals(cleanColumns@AnnualProductionDays,getFactKpi@AnnualProductionDays) &&\r",
						"  equals(cleanColumns@DailyCost,getFactKpi@DailyCost) , 'P','U')\r",
						")) ~> insertOrUpdate",
						"insertOrUpdate filter(in(['I','U'],InsertOrUpdate)) ~> includeUpsert",
						"includeUpsert alterRow(insertIf(InsertOrUpdate == 'I'),",
						"     updateIf(InsertOrUpdate == 'U')) ~> insertUpdate",
						"insertUpdate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          OrganisationID = cleanColumns@OrganisationID,",
						"          ScenarioID = cleanColumns@ScenarioID,",
						"          MonthYearID,",
						"          MonthYear,",
						"          CostCenter,",
						"          PeopleType,",
						"          LevelSeniority,",
						"          EndOfMonth_FTE,",
						"          SrvcSales_bef_bonimali,",
						"          BillableDays,",
						"          DailyRate,",
						"          AnnualDirectCosts,",
						"          AnnualProductionDays,",
						"          DailyCost",
						"     )) ~> insertFactKPIPyramid"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_copy_all_mbr')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "01ODS"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_raw_mbr_pnl_data",
								"type": "DatasetReference"
							},
							"name": "getMBRData",
							"description": "Retrieve Actual CY,LY & Budget"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_ocean_stg_nonecrypted",
								"type": "DatasetReference"
							},
							"name": "insertRawMBRData"
						}
					],
					"transformations": [
						{
							"name": "addMBRMetadata",
							"description": "BU_Code\nBU_Name\nMBR_Scope\nMBR_Month"
						},
						{
							"name": "removeEmptyColumns"
						}
					],
					"scriptLines": [
						"parameters{",
						"     pBU_Code as string,",
						"     pRawTableName as string,",
						"     pMBR_Scope as string,",
						"     pMBR_Month as string,",
						"     pBU_Name as string,",
						"     pCurrency_Code as string,",
						"     pFileName as string",
						"}",
						"source(output(",
						"          {_col0_} as string,",
						"          {_col1_} as string,",
						"          {_col2_} as string,",
						"          {_col3_} as string,",
						"          {_col4_} as string,",
						"          {_col5_} as string,",
						"          {_col6_} as string,",
						"          {_col7_} as string,",
						"          {_col8_} as string,",
						"          {_col9_} as string,",
						"          {_col10_} as string,",
						"          {_col11_} as string,",
						"          {_col12_} as string,",
						"          {_col13_} as string,",
						"          {_col14_} as string,",
						"          {_col15_} as string,",
						"          {_col16_} as string,",
						"          {_col17_} as string,",
						"          {_col18_} as string,",
						"          {_col19_} as string,",
						"          {_col20_} as string,",
						"          {_col21_} as string,",
						"          {_col22_} as string,",
						"          {_col23_} as string,",
						"          {_col24_} as string,",
						"          {_col25_} as string,",
						"          {_col26_} as string,",
						"          {_col27_} as string,",
						"          {_col28_} as string,",
						"          {_col29_} as string,",
						"          {_col30_} as string,",
						"          {_col31_} as string,",
						"          {_col32_} as string,",
						"          {_col33_} as string,",
						"          {_col34_} as string,",
						"          {_col35_} as string,",
						"          {_col36_} as string,",
						"          {_col37_} as string,",
						"          {_col38_} as string,",
						"          {_col39_} as string,",
						"          {_col40_} as string,",
						"          {_col41_} as string,",
						"          {_col42_} as string,",
						"          {_col43_} as string,",
						"          {_col44_} as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> getMBRData",
						"getMBRData derive(BU_Code = $pBU_Code,",
						"          BU_Name = $pBU_Name,",
						"          Currency_Code = $pCurrency_Code,",
						"          MBR_Scope = $pMBR_Scope,",
						"          MBR_Month = $pMBR_Month) ~> addMBRMetadata",
						"addMBRMetadata select(mapColumn(",
						"          {_col0_},",
						"          {_col1_},",
						"          {_col2_},",
						"          {_col4_},",
						"          {_col5_},",
						"          {_col6_},",
						"          {_col7_},",
						"          {_col8_},",
						"          {_col9_},",
						"          {_col10_},",
						"          {_col11_},",
						"          {_col12_},",
						"          {_col13_},",
						"          {_col14_},",
						"          {_col15_},",
						"          {_col16_},",
						"          {_col19_},",
						"          {_col20_},",
						"          {_col21_},",
						"          {_col22_},",
						"          {_col23_},",
						"          {_col24_},",
						"          {_col25_},",
						"          {_col26_},",
						"          {_col27_},",
						"          {_col28_},",
						"          {_col29_},",
						"          {_col30_},",
						"          {_col33_},",
						"          {_col34_},",
						"          {_col35_},",
						"          {_col36_},",
						"          {_col37_},",
						"          {_col38_},",
						"          {_col39_},",
						"          {_col40_},",
						"          {_col41_},",
						"          {_col42_},",
						"          {_col43_},",
						"          {_col44_},",
						"          BU_Code,",
						"          BU_Name,",
						"          Currency_Code,",
						"          MBR_Scope,",
						"          MBR_Month",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> removeEmptyColumns",
						"removeEmptyColumns sink(allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     input(",
						"          Index as string,",
						"          Anaplant_Index as string,",
						"          PBI_Index as string,",
						"          K_Nature as string,",
						"          Actual_LY_01 as string,",
						"          Actual_LY_02 as string,",
						"          Actual_LY_03 as string,",
						"          Actual_LY_04 as string,",
						"          Actual_LY_05 as string,",
						"          Actual_LY_06 as string,",
						"          Actual_LY_07 as string,",
						"          Actual_LY_08 as string,",
						"          Actual_LY_09 as string,",
						"          Actual_LY_10 as string,",
						"          Actual_LY_11 as string,",
						"          Actual_LY_12 as string,",
						"          Budget_CY_01 as string,",
						"          Budget_CY_02 as string,",
						"          Budget_CY_03 as string,",
						"          Budget_CY_04 as string,",
						"          Budget_CY_05 as string,",
						"          Budget_CY_06 as string,",
						"          Budget_CY_07 as string,",
						"          Budget_CY_08 as string,",
						"          Budget_CY_09 as string,",
						"          Budget_CY_10 as string,",
						"          Budget_CY_11 as string,",
						"          Budget_CY_12 as string,",
						"          Actual_CY_01 as string,",
						"          Actual_CY_02 as string,",
						"          Actual_CY_03 as string,",
						"          Actual_CY_04 as string,",
						"          Actual_CY_05 as string,",
						"          Actual_CY_06 as string,",
						"          Actual_CY_07 as string,",
						"          Actual_CY_08 as string,",
						"          Actual_CY_09 as string,",
						"          Actual_CY_10 as string,",
						"          Actual_CY_11 as string,",
						"          Actual_CY_12 as string,",
						"          BU_Code as string,",
						"          BU_Name as string,",
						"          Currency_Code as string,",
						"          MBR_Scope as string,",
						"          MBR_Month as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          Index = {_col0_},",
						"          Anaplant_Index = {_col1_},",
						"          PBI_Index = {_col2_},",
						"          K_Nature = {_col4_},",
						"          Actual_LY_01 = {_col5_},",
						"          Actual_LY_02 = {_col6_},",
						"          Actual_LY_03 = {_col7_},",
						"          Actual_LY_04 = {_col8_},",
						"          Actual_LY_05 = {_col9_},",
						"          Actual_LY_06 = {_col10_},",
						"          Actual_LY_07 = {_col11_},",
						"          Actual_LY_08 = {_col12_},",
						"          Actual_LY_09 = {_col13_},",
						"          Actual_LY_10 = {_col14_},",
						"          Actual_LY_11 = {_col15_},",
						"          Actual_LY_12 = {_col16_},",
						"          Budget_CY_01 = {_col19_},",
						"          Budget_CY_02 = {_col20_},",
						"          Budget_CY_03 = {_col21_},",
						"          Budget_CY_04 = {_col22_},",
						"          Budget_CY_05 = {_col23_},",
						"          Budget_CY_06 = {_col24_},",
						"          Budget_CY_07 = {_col25_},",
						"          Budget_CY_08 = {_col26_},",
						"          Budget_CY_09 = {_col27_},",
						"          Budget_CY_10 = {_col28_},",
						"          Budget_CY_11 = {_col29_},",
						"          Budget_CY_12 = {_col30_},",
						"          Actual_CY_01 = {_col33_},",
						"          Actual_CY_02 = {_col34_},",
						"          Actual_CY_03 = {_col35_},",
						"          Actual_CY_04 = {_col36_},",
						"          Actual_CY_05 = {_col37_},",
						"          Actual_CY_06 = {_col38_},",
						"          Actual_CY_07 = {_col39_},",
						"          Actual_CY_08 = {_col40_},",
						"          Actual_CY_09 = {_col41_},",
						"          Actual_CY_10 = {_col42_},",
						"          Actual_CY_11 = {_col43_},",
						"          Actual_CY_12 = {_col44_},",
						"          BU_Code,",
						"          BU_Name,",
						"          Currency_Code,",
						"          MBR_Scope,",
						"          MBR_Month",
						"     )) ~> insertRawMBRData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_shrp_listoffiles')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "01ODS"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sharepoint_listofiles_xml",
								"type": "DatasetReference"
							},
							"name": "getListofFiles"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sharepoint_json",
								"type": "DatasetReference"
							},
							"name": "createJSONListofFiles"
						}
					],
					"transformations": [
						{
							"name": "flattenXML"
						},
						{
							"name": "addFileName"
						}
					],
					"scriptLines": [
						"parameters{",
						"     pMBR_Scope as string",
						"}",
						"source(output(",
						"          {http://www.w3.org/2005/Atom,feed} as ({http://www.w3.org/2005/Atom,entry} as ({http://www.w3.org/2005/Atom,author} as ({http://www.w3.org/2005/Atom,name} as string), {http://www.w3.org/2005/Atom,category} as ({@scheme} as string, {@term} as string), {http://www.w3.org/2005/Atom,content} as ({@type} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,properties} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,CheckInComment} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices,CheckOutType} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as short, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,ContentTag} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices,CustomizedPageStatus} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as boolean, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,ETag} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices,Exists} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as boolean, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,IrmEnabled} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as boolean, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,Length} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as integer, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,Level} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as boolean, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,LinkingUri} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices,LinkingUrl} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices,MajorVersion} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as short, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,MinorVersion} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as boolean, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,Name} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices,ServerRelativeUrl} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices,TimeCreated} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as timestamp, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,TimeLastModified} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as timestamp, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,Title} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices,UIVersion} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as short, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string), {http://schemas.microsoft.com/ado/2007/08/dataservices,UIVersionLabel} as double, {http://schemas.microsoft.com/ado/2007/08/dataservices,UniqueId} as ({http://schemas.microsoft.com/ado/2007/08/dataservices,_value_} as string, {http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,@type} as string))), {http://www.w3.org/2005/Atom,id} as string, {http://www.w3.org/2005/Atom,link} as ({@href} as string, {@rel} as string, {@title} as string, {@type} as string)[], {http://www.w3.org/2005/Atom,title} as string, {http://www.w3.org/2005/Atom,updated} as timestamp)[], {http://www.w3.org/2005/Atom,id} as string, {http://www.w3.org/2005/Atom,title} as string, {http://www.w3.org/2005/Atom,updated} as timestamp)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: true,",
						"     purgeFiles: true,",
						"     validationMode: 'none',",
						"     namespaces: true) ~> getListofFiles",
						"getListofFiles foldDown(unroll({http://www.w3.org/2005/Atom,feed}.{http://www.w3.org/2005/Atom,entry}),",
						"     mapColumn(",
						"          GetFileUrl = {http://www.w3.org/2005/Atom,feed}.{http://www.w3.org/2005/Atom,entry}.{http://www.w3.org/2005/Atom,id},",
						"          LinkingUri = {http://www.w3.org/2005/Atom,feed}.{http://www.w3.org/2005/Atom,entry}.{http://www.w3.org/2005/Atom,content}.{http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,properties}.{http://schemas.microsoft.com/ado/2007/08/dataservices,LinkingUri},",
						"          LinkingUrl = {http://www.w3.org/2005/Atom,feed}.{http://www.w3.org/2005/Atom,entry}.{http://www.w3.org/2005/Atom,content}.{http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,properties}.{http://schemas.microsoft.com/ado/2007/08/dataservices,ServerRelativeUrl},",
						"          ServerRelativeUrl = {http://www.w3.org/2005/Atom,feed}.{http://www.w3.org/2005/Atom,entry}.{http://www.w3.org/2005/Atom,content}.{http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,properties}.{http://schemas.microsoft.com/ado/2007/08/dataservices,ServerRelativeUrl},",
						"          Name = {http://www.w3.org/2005/Atom,feed}.{http://www.w3.org/2005/Atom,entry}.{http://www.w3.org/2005/Atom,content}.{http://schemas.microsoft.com/ado/2007/08/dataservices/metadata,properties}.{http://schemas.microsoft.com/ado/2007/08/dataservices,Name}",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenXML",
						"flattenXML derive(FileName = concat('toloadSharepoint/02ListFilesToCopy/ListFilesToLoad_',$pMBR_Scope,'.json'),",
						"          GetFileUrl = concat(replace(GetFileUrl,'https://keyrusgroup.sharepoint.com',''),'/$value')) ~> addFileName",
						"addFileName sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          LinkingUri as string,",
						"          LinkingUrl as string,",
						"          ServerRelativeUrl as string,",
						"          Name as string",
						"     ),",
						"     rowUrlColumn:'FileName',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> createJSONListofFiles"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_stg_financials')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "02STG"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference"
							},
							"name": "getMBRUnpvtData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "stg_financials",
								"type": "DatasetReference"
							},
							"name": "insertMBRStagingData"
						}
					],
					"transformations": [
						{
							"name": "addColumns",
							"description": "Add Columns : \nScenario\nMonthYear"
						}
					],
					"scriptLines": [
						"parameters{",
						"     unpvtTableName as string",
						"}",
						"source(output(",
						"          Index as string,",
						"          Anaplant_Index as string,",
						"          PBI_Index as string,",
						"          K_Nature as string,",
						"          BU_Code as string,",
						"          BU_Name as string,",
						"          Currency_Code as string,",
						"          MBR_Scope as string,",
						"          MBR_Month as string,",
						"          Period as string,",
						"          Value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: (\"select * from [ods].[{$unpvtTableName}]\"),",
						"     format: 'query') ~> getMBRUnpvtData",
						"getMBRUnpvtData derive(Scenario = case( like(Period, 'Actual%'),'Actual','Budget'),",
						"          MonthYear = case(like(Period,'%CY%'),\r",
						"toDate(concat(toString(year(toDate(MBR_Month))), '-',right(Period,2))),\r",
						"toDate(concat(toString(year(toDate(MBR_Month))-1), '-',right(Period,2)))),",
						"          Index = toInteger(Index),",
						"          Value = toFloat(Value)) ~> addColumns",
						"addColumns sink(allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     input(",
						"          BusinessUnit as string,",
						"          Scenario as string,",
						"          NatureID as integer,",
						"          Nature as string,",
						"          MonthYear as timestamp,",
						"          Value as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          BusinessUnit = BU_Name,",
						"          Scenario,",
						"          NatureID = Index,",
						"          Nature = K_Nature,",
						"          MonthYear,",
						"          Value",
						"     )) ~> insertMBRStagingData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_stg_kpi_pyramid')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "02STG"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference"
							},
							"name": "getMBRKpiPyramid"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "stg_kpi_pyramid",
								"type": "DatasetReference"
							},
							"name": "insertMBRStagingData"
						}
					],
					"transformations": [
						{
							"name": "castColumns"
						},
						{
							"name": "removeEmptyRows"
						},
						{
							"name": "nulltoZero"
						}
					],
					"scriptLines": [
						"parameters{",
						"     kpiPyramidTableName as string",
						"}",
						"source(output(",
						"          BU as string,",
						"          Version as string,",
						"          Period as string,",
						"          CostCenter as string,",
						"          PeopleType as string,",
						"          LevelSeniority as string,",
						"          EndOfMonth_FTE as string,",
						"          SrvcSales_bef_bonimali as string,",
						"          BillableDays as string,",
						"          DailyRate as string,",
						"          AnnualDirectCosts as string,",
						"          AnnualProductionDays as string,",
						"          DailyCost as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: (\"select * from [ods].[{$kpiPyramidTableName}]\"),",
						"     format: 'query') ~> getMBRKpiPyramid",
						"removeEmptyRows cast(output(",
						"          Period as date 'yyyy-MM-dd',",
						"          EndOfMonth_FTE as float,",
						"          SrvcSales_bef_bonimali as float,",
						"          BillableDays as float,",
						"          DailyRate as float,",
						"          AnnualDirectCosts as float,",
						"          AnnualProductionDays as float,",
						"          DailyCost as float",
						"     ),",
						"     errors: true) ~> castColumns",
						"getMBRKpiPyramid filter(not(isNull(BU))) ~> removeEmptyRows",
						"castColumns derive(EndOfMonth_FTE = iifNull(EndOfMonth_FTE,0),",
						"          SrvcSales_bef_bonimali = iifNull(SrvcSales_bef_bonimali,0),",
						"          BillableDays = iifNull(BillableDays,0),",
						"          DailyRate = iifNull(DailyRate,0),",
						"          AnnualDirectCosts = iifNull(AnnualDirectCosts,0),",
						"          AnnualProductionDays = iifNull(AnnualProductionDays,0),",
						"          DailyCost = iifNull(DailyCost,0)) ~> nulltoZero",
						"nulltoZero sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> insertMBRStagingData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_unpvt_mbr_data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "01ODS"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference"
							},
							"name": "getMBRData",
							"description": "Retrieve data from the raw MBR sql table"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_unpvtdata_table",
								"type": "DatasetReference"
							},
							"name": "InsertUnpvtMBRData",
							"description": "Create and insert unpivot MBR data in the corresponding table"
						}
					],
					"transformations": [
						{
							"name": "UnpivotMBRData",
							"description": "Unpivot MBR Data to group by Period"
						}
					],
					"scriptLines": [
						"parameters{",
						"     RawTableName as string,",
						"     UnpivotTableName as string",
						"}",
						"source(output(",
						"          Index as string,",
						"          Anaplant_Index as string,",
						"          PBI_Index as string,",
						"          K_Nature as string,",
						"          Actual_LY_01 as string,",
						"          Actual_LY_02 as string,",
						"          Actual_LY_03 as string,",
						"          Actual_LY_04 as string,",
						"          Actual_LY_05 as string,",
						"          Actual_LY_06 as string,",
						"          Actual_LY_07 as string,",
						"          Actual_LY_08 as string,",
						"          Actual_LY_09 as string,",
						"          Actual_LY_10 as string,",
						"          Actual_LY_11 as string,",
						"          Actual_LY_12 as string,",
						"          Budget_CY_01 as string,",
						"          Budget_CY_02 as string,",
						"          Budget_CY_03 as string,",
						"          Budget_CY_04 as string,",
						"          Budget_CY_05 as string,",
						"          Budget_CY_06 as string,",
						"          Budget_CY_07 as string,",
						"          Budget_CY_08 as string,",
						"          Budget_CY_09 as string,",
						"          Budget_CY_10 as string,",
						"          Budget_CY_11 as string,",
						"          Budget_CY_12 as string,",
						"          Actual_CY_01 as string,",
						"          Actual_CY_02 as string,",
						"          Actual_CY_03 as string,",
						"          Actual_CY_04 as string,",
						"          Actual_CY_05 as string,",
						"          Actual_CY_06 as string,",
						"          Actual_CY_07 as string,",
						"          Actual_CY_08 as string,",
						"          Actual_CY_09 as string,",
						"          Actual_CY_10 as string,",
						"          Actual_CY_11 as string,",
						"          Actual_CY_12 as string,",
						"          BU_Code as string,",
						"          BU_Name as string,",
						"          Currency_Code as string,",
						"          MBR_Scope as string,",
						"          MBR_Month as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> getMBRData",
						"getMBRData unpivot(output(",
						"          Period as string,",
						"          Value as string",
						"     ),",
						"     ungroupBy(Index,",
						"          Anaplant_Index,",
						"          PBI_Index,",
						"          K_Nature,",
						"          BU_Code,",
						"          BU_Name,",
						"          Currency_Code,",
						"          MBR_Scope,",
						"          MBR_Month),",
						"     lateral: false,",
						"     ignoreNullPivots: true) ~> UnpivotMBRData",
						"UnpivotMBRData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          Index,",
						"          Anaplant_Index,",
						"          PBI_Index,",
						"          K_Nature,",
						"          BU_Code,",
						"          BU_Name,",
						"          Currency_Code,",
						"          MBR_Scope,",
						"          MBR_Month,",
						"          Period,",
						"          Value",
						"     )) ~> InsertUnpvtMBRData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_04_archive_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get All Files",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select distinct concat('toload/',MBR_Scope) as SourcePathFolder,\nconcat('archives/',MBR_Scope) as DestiPathFolder, MBR_FileName as FileName \nfrom  [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesConfigTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach MBR Files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get All Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get All Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Move File to Archives",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_mbr_excel_files",
											"type": "DatasetReference",
											"parameters": {
												"pFolder": {
													"value": "@item().SourcePathFolder",
													"type": "Expression"
												},
												"pFileName": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_mbr_excel_files",
											"type": "DatasetReference",
											"parameters": {
												"pFolder": {
													"value": "@item().DestiPathFolder",
													"type": "Expression"
												},
												"pFileName": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "03DWH"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_01_get_files_sharepoint')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Sharepoint Folder to Load",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT  [MBR_Scope]\n      ,[SharepointFolder]\n      ,[Active_fl]\n  FROM [cfg].[@{pipeline().globalParameters.gSourcesTableName}]\n  WHERE [Active_fl]= 'Y'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_cfg",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Sharepoint Folder",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Sharepoint Folder to Load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Sharepoint Folder to Load').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Get List of Files",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization:Bearer ',activity('Get token').output.access_token)}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_sharepoint_ocean_project",
											"type": "DatasetReference",
											"parameters": {
												"pShrepointFolder": {
													"value": "@item().SharepointFolder",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "mbr_landing_zone",
											"type": "DatasetReference",
											"parameters": {
												"pMBR_Folder": {
													"value": "@item().MBR_Scope",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Extract List of files",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Get List of Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_shrp_listoffiles",
											"type": "DataFlowReference",
											"parameters": {
												"pMBR_Scope": {
													"value": "'@{item().MBR_Scope}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"getListofFiles": {
													"pMBR_Scope": {
														"value": "@item().MBR_Scope",
														"type": "Expression"
													}
												},
												"createJSONListofFiles": {
													"pMBR_Scope": {
														"value": "@item().MBR_Scope",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Copy file to blob",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Extract List of files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_02_copy_files_to_blob",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pMBR_Scope": {
												"value": "@item().MBR_Scope",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Get token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://accounts.accesscontrol.windows.net/168e48b2-81f0-4aac-bc77-d58d07d205e2/tokens/OAuth/2",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=63bb52e3-0d92-4899-991c-bda347d9dd3b@168e48b2-81f0-4aac-bc77-d58d07d205e2&client_secret=S8v8Q~jvkg-AXO-gSxyxnJQTd9zhR1SiPr0ukcz5&resource=00000003-0000-0ff1-ce00-000000000000/keyrusgroup.sharepoint.com@168e48b2-81f0-4aac-bc77-d58d07d205e2"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "00INIT"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_shrp_listoffiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_02_ingest_mbr_data_ods')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Move all import tables from the source systems",
				"activities": [
					{
						"name": "Copy MBR Parameters",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate ODS Param Curr Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "truncate table ods.R_MBR_Parameters_@{pipeline().parameters.pMBRScope}",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_mbr_parameters",
								"type": "DatasetReference",
								"parameters": {
									"pFileName": {
										"value": "@pipeline().parameters.pFileName",
										"type": "Expression"
									},
									"pFolderName": {
										"value": "@pipeline().parameters.pFolderName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@concat('R_MBR_Parameters_',pipeline().parameters.pMBRScope)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy MBR Currency",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate ODS Param Curr Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "truncate table ods.R_MBR_Currency_@{pipeline().parameters.pMBRScope}",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "bu_sequence",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "bu_name",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "currency_code",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "bu_select",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_mbr_currency",
								"type": "DatasetReference",
								"parameters": {
									"pFileName": {
										"value": "@pipeline().parameters.pFileName",
										"type": "Expression"
									},
									"pFolderName": {
										"value": "@pipeline().parameters.pFolderName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@concat('R_MBR_Currency_',pipeline().parameters.pMBRScope)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Get MBR Parameters",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy MBR Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy MBR Currency",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select a.Prop_1 as MBR_Scope, b.Prop_1 as MBR_Month,  CONCAT('P&L FI_', bu_sequence ) AS SheetName, bu_sequence AS BU_Code, bu_name as BU_Name,\nCONCAT('R_P&L_FI_', a.Prop_1, '_',bu_sequence) AS RawTableName,  CONCAT('U_P&L_FI_', a.Prop_1, '_', bu_sequence) AS UnpvtTableName, currency_code as Currency_Code,\nCONCAT('R_KPI_Pyramid_', a.Prop_1) AS KPIPyramidTableName\nfrom ods.R_MBR_Currency_@{pipeline().parameters.pMBRScope},\n(select Prop_1 from ods.R_MBR_Parameters_@{pipeline().parameters.pMBRScope}\nwhere Prop_0 = 'MBR SCOPE') a,\n(select Prop_1 from ods.R_MBR_Parameters_@{pipeline().parameters.pMBRScope}\nwhere Prop_0 = 'MONTH') b\nwhere bu_select is not null",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@concat('R_MBR_Currency_',pipeline().parameters.pMBRScope)",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Business Units sheets",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get MBR Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get MBR Parameters').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy MBR Files to ODS",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_copy_all_mbr",
											"type": "DataFlowReference",
											"parameters": {
												"pBU_Code": {
													"value": "'@{item().BU_Code}'",
													"type": "Expression"
												},
												"pRawTableName": {
													"value": "'@{item().RawTableName}'",
													"type": "Expression"
												},
												"pMBR_Scope": {
													"value": "'@{item().MBR_Scope}'",
													"type": "Expression"
												},
												"pMBR_Month": {
													"value": "'@{item().MBR_Month}'",
													"type": "Expression"
												},
												"pBU_Name": {
													"value": "'@{item().BU_Name}'",
													"type": "Expression"
												},
												"pCurrency_Code": {
													"value": "'@{item().Currency_Code}'",
													"type": "Expression"
												},
												"pFileName": {
													"value": "'@{pipeline().parameters.pFileName}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"getMBRData": {
													"vSheetName": {
														"value": "@item().SheetName",
														"type": "Expression"
													},
													"vFileName": {
														"value": "@pipeline().parameters.pFileName",
														"type": "Expression"
													},
													"vFolderName": {
														"value": "@pipeline().parameters.pFolderName",
														"type": "Expression"
													}
												},
												"insertRawMBRData": {
													"pRawTableName": {
														"value": "@item().RawTableName",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "ForEach BU Raw ODS Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ForEach Business Units sheets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get MBR Parameters').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Unpivot MBR ODS Table",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_unpvt_mbr_data",
											"type": "DataFlowReference",
											"parameters": {
												"RawTableName": {
													"value": "'@{item().RawTableName}'",
													"type": "Expression"
												},
												"UnpivotTableName": {
													"value": "'@{item().UnpvtTableName}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"getMBRData": {
													"vTableName": {
														"value": "@item().RawTableName",
														"type": "Expression"
													}
												},
												"InsertUnpvtMBRData": {
													"UnpvtTableName": {
														"value": "@item().UnpvtTableName",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Insert Sources Cfg Info",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Unpivot MBR ODS Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "ocean_db",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "INSERT INTO [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]\n           ([MBR_FileName]\n           ,[MBR_Scope]\n           ,[MBR_Month]\n           ,[MBR_SheetName]\n           ,[MBR_BU_Code]\n           ,[MBR_BU_Name]\n           ,[MBR_RawTableName]\n           ,[MBR_UnpvtTableName]\n           ,[MBR_Currency_Code]\n           ,[MBR_KPIPyramid_TableName])\n     VALUES\n           ('@{pipeline().parameters.pFileName}'\n           ,'@{item().MBR_Scope}'\n           ,'@{item().MBR_Month}'\n           ,'@{item().SheetName}'\n           ,'@{item().BU_Code}'\n           ,'@{item().BU_Name}'\n           ,'@{item().RawTableName}'\n           ,'@{item().UnpvtTableName}'\n           ,'@{item().Currency_Code}'\n           ,'@{item().KPIPyramidTableName}')\n\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "Truncate ODS Param Curr Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "[[@{pipeline().globalParameters.gODSSchemaName}].[prc_ods_truncate_paramCurr_tables]",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"mbr_scope": {
									"value": {
										"value": "@pipeline().parameters.pMBRScope",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ocean_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy KPI Pyramid to ODS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get MBR Parameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "BU",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "Version",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "Period",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "CostCenter",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "PeopleType",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "LevelSeniority",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "EndOfMonth_FTE",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "SrvcSales_bef_bonimali",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "BillableDays",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "DailyRate",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "AnnualDirectCosts",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "AnnualProductionDays",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "DailyCost",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_mbr_kpi_pyramid",
								"type": "DatasetReference",
								"parameters": {
									"pFileName": {
										"value": "@pipeline().parameters.pFileName",
										"type": "Expression"
									},
									"pFolderName": {
										"value": "@pipeline().parameters.pFolderName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@concat('R_KPI_Pyramid_',pipeline().parameters.pMBRScope)",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pFileName": {
						"type": "string"
					},
					"pFolderName": {
						"type": "string"
					},
					"pMBRScope": {
						"type": "string"
					}
				},
				"variables": {
					"vplShetName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "01ODS"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-20T10:35:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_copy_all_mbr')]",
				"[concat(variables('factoryId'), '/dataflows/df_unpvt_mbr_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_01_load_stg_financials')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach Unpvt Data Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get All Unpvt Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get All Unpvt Table').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Staging Financial Table",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_stg_financials",
											"type": "DataFlowReference",
											"parameters": {
												"unpvtTableName": {
													"value": "'@{item().MBR_UnpvtTableName}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"getMBRUnpvtData": {
													"vTableName": {
														"value": "@item().MBR_UnpvtTableName",
														"type": "Expression"
													}
												},
												"insertMBRStagingData": {
													"stgFinancialTable": {
														"value": "@item().StgFinancialTableName",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "Get All Unpvt Table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select  MBR_UnpvtTableName, CONCAT('P&L_FI_', MBR_Scope, '_', MBR_BU_Code) AS StgFinancialTableName  from  [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesConfigTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "02STG"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-20T11:30:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_stg_financials')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_01_load_fact_financials')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get All Staging Data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select  MBR_UnpvtTableName, CONCAT('P&L_FI_', MBR_Scope, '_', MBR_BU_Code) AS StgFinancialTableName  from  [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesConfigTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Staging Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get All Staging Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get All Staging Data').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Load Fact Financials",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_Load_Fact_Financials",
											"type": "DataFlowReference",
											"parameters": {
												"pPipelineRunID": {
													"value": "'@{pipeline().RunId}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"getMBRStagingData": {
													"vTableName": {
														"value": "@item().StgFinancialTableName",
														"type": "Expression"
													}
												},
												"getDimScenario": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gDimScenarioTableName",
														"type": "Expression"
													}
												},
												"getDimNature": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gDimNatureTableName",
														"type": "Expression"
													}
												},
												"getDimOrganisation": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gDimOrganisationTableName",
														"type": "Expression"
													}
												},
												"getFactFinancials": {
													"FactName": {
														"value": "@pipeline().globalParameters.gFactFinancialsTableName",
														"type": "Expression"
													}
												},
												"getFactDrivers": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gFactDriversTableName",
														"type": "Expression"
													}
												},
												"getDimKPI": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gDimKPITableName",
														"type": "Expression"
													}
												},
												"insertFactFinancials": {
													"FactName": {
														"value": "@pipeline().globalParameters.gFactFinancialsTableName",
														"type": "Expression"
													}
												},
												"insertFactDrivers": {
													"FactName": {
														"value": "@pipeline().globalParameters.gFactDriversTableName",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "Summary Log Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach Staging Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_03_summary_log",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "03DWH"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-17T16:37:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_02_load_fact_kpipyramid')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get All Staging Data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select  distinct concat('KPI_Pyramid_', MBR_Scope) AS StgKpiTableName  from  [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesConfigTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Staging Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get All Staging Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get All Staging Data').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Load Fact KPI Pyramid",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_Load_Fact_KPI_Pyramid",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"getMBRKPIPyramidStaging": {
													"vTableName": {
														"value": "@item().StgKpiTableName",
														"type": "Expression"
													}
												},
												"getDimScenario": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gDimScenarioTableName",
														"type": "Expression"
													}
												},
												"getDimOrganisation": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gDimOrganisationTableName",
														"type": "Expression"
													}
												},
												"getFactKpi": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gFactKpiPyramid",
														"type": "Expression"
													}
												},
												"insertFactKPIPyramid": {
													"vTableName": {
														"value": "@pipeline().globalParameters.gFactKpiPyramid",
														"type": "Expression"
													}
												}
											},
											"linkedServiceParameters": {}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "03DWH"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-17T16:37:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_Load_Fact_KPI_Pyramid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_02_load_stg_kpi_pyramid')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach KPI Pyramid ODS Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get All KPI Pyramid ODS Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get All KPI Pyramid ODS Tables').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Staging KPI Pyramid Tables",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_stg_kpi_pyramid",
											"type": "DataFlowReference",
											"parameters": {
												"kpiPyramidTableName": {
													"value": "'@{item().MBR_KPIPyramid_TableName}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"getMBRKpiPyramid": {
													"vTableName": {
														"value": "@item().MBR_KPIPyramid_TableName",
														"type": "Expression"
													}
												},
												"insertMBRStagingData": {
													"pKpiPyramidTableName": {
														"value": "@item().StgTableName",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "Get All KPI Pyramid ODS Tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select  distinct MBR_KPIPyramid_TableName,  concat('KPI_Pyramid_', MBR_Scope) as StgTableName from  [@{pipeline().globalParameters.gODSSchemaName}].[@{pipeline().globalParameters.gSourcesConfigTableName}]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_ods",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesConfigTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "02STG"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-20T11:30:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_stg_kpi_pyramid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_01_read_all_MBR_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get MBR All Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_mbr_landing_folder",
								"type": "DatasetReference",
								"parameters": {
									"MBRScope": {
										"value": "@pipeline().parameters.MBRScope_Folder",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ForEach MBR Files by Scope",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get MBR All Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get MBR All Files').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Ingest MBR Data",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_02_ingest_mbr_data_ods",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pFileName": {
												"value": "@item().name",
												"type": "Expression"
											},
											"pFolderName": {
												"value": "@pipeline().parameters.MBRScope_Folder",
												"type": "Expression"
											},
											"pMBRScope": {
												"value": "@pipeline().parameters.MBR_Scope",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"MBRScope_Folder": {
						"type": "string"
					},
					"MBR_Scope": {
						"type": "string"
					}
				},
				"variables": {
					"test": {
						"type": "String"
					}
				},
				"folder": {
					"name": "01ODS"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-20T08:54:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_02_ingest_mbr_data_ods')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_00_start_process')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get All Active MBR Scope",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy Files from Sharepoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [MBR_Scope] as MBRScope,\n    'toload/' + [MBR_Scope]  as MBRScope_Folder\n  FROM [cfg].[@{pipeline().globalParameters.gSourcesTableName}]\nWHERE [Active_fl] = 'Y'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ocean_cfg",
								"type": "DatasetReference",
								"parameters": {
									"vTableName": {
										"value": "@pipeline().globalParameters.gSourcesTableName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Active MBR Scope",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get All Active MBR Scope",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get All Active MBR Scope').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Run Process by MBR Scope",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_01_read_all_MBR_files",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"MBRScope_Folder": {
												"value": "@item().MBRScope_Folder",
												"type": "Expression"
											},
											"MBR_Scope": {
												"value": "@item().MBRScope",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Load Financials Staging Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach Active MBR Scope",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_01_load_stg_financials",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Fact Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Financials Staging Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Load KPI Pyramid Staging Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_01_load_fact_financials",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Initialization",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_00_initialization",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy Files from Sharepoint",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Initialization",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_01_get_files_sharepoint",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load KPI Pyramid Staging Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach Active MBR Scope",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_02_load_stg_kpi_pyramid",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load Fact KPI Pyramid",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Financials Staging Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Load KPI Pyramid Staging Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_02_load_fact_kpipyramid",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Archives MBR Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load Fact Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Load Fact KPI Pyramid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_04_archive_files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-17T13:38:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_01_load_stg_financials')]",
				"[concat(variables('factoryId'), '/pipelines/pl_01_load_fact_financials')]",
				"[concat(variables('factoryId'), '/pipelines/pl_01_get_files_sharepoint')]",
				"[concat(variables('factoryId'), '/pipelines/pl_02_load_stg_kpi_pyramid')]",
				"[concat(variables('factoryId'), '/pipelines/pl_02_load_fact_kpipyramid')]",
				"[concat(variables('factoryId'), '/pipelines/pl_04_archive_files')]",
				"[concat(variables('factoryId'), '/pipelines/pl_01_read_all_MBR_files')]"
			]
		}
	]
}